@f5-com:registry=https://sea.artifactory.f5net.com/artifactory/api/npm/npm-f5/
//azr.artifactory.f5net.com/artifactory/api/npm/npm-f5/:_authToken=${ARTIFACTORY_AUTH}
//sea.artifactory.f5net.com/artifactory/api/npm/npm-f5/:_authToken=${ARTIFACTORY_PUB}